.hero {
    

    &__box {
        background-image: url(../img/girl-in-vr.webp);
    background-repeat: no-repeat;
    background-position: center right;
    }

    &__title {
        font-family: Montserrat;
font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #FFF;
    }

    &__span {
        background: linear-gradient(92deg, #C0B7E8 -1.02%, #8176AF 36.25%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFF;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    &__desck {
        color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    &__button {
        border-radius: 40px;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        padding: 17px 40px;
    }

    &__caption {
        color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    &__text {
        color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    &__svg {
        fill: #C0B7E8;
    }
}




