.hero {
  &__box {
    background-image: url(../img/girl-in-vr.webp);
    background-repeat: no-repeat;
    width: 554px;
    height: 455px;
    border-radius: 100px 100px 100px 240px;
 
     }

  &__title {
    color: #fff;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.22;
    width: 360px;
    font-size: 24px;

    @media screen and (min-width: 1282px) {
      width: 456px;
      margin-bottom: 36px;
      font-size: 40px;
    }
  }

  &__span {
    background: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.22;

    @media screen and (min-width: 1282px) {
      width: 456px;
      font-size: 46px;
    }
  }

  &__desck {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    width: 450px;

    @media screen and (min-width: 1282px) {
      margin-bottom: 66px;
    }
  }

  &__button {
    border-radius: 40px;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    padding: 17px 40px;
    margin-bottom: 157px;
  }

  &__puck_v1{
  display: flex;
  flex-wrap: wrap;
}


&__puck_v2{
  margin-right: auto;
}


  
&__list {
display: flex;
width: 100%;
padding: 26px 60px 22.5px 39px;
border-radius: 90px;
background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
margin-top: 155px;

}

&__item {
display: flex;
align-items: center;

&:not(:last-child) {
&::after {
content: "";
width: 1px;
height: 116.5px;
background-color: rgba(192, 183, 232, 0.33);;
display: flex;
margin-left: 42.5px;
}
&::after:last-child {
margin-left: 66px;

}
}

&:first-child {
margin-right: 47.5px;
}

&:nth-child(2) {
margin-right: 50px;
}



}

&__text {
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 1.2;
}

&__link {
color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 1.2;
display: block;
&:first-child {
width: 290px;
}
}

// &__list > &__item:nth-child(2) > &__link {
// width: 87px;
// }

&__svg {
fill: #C0B7E8;
width: 70px;
height: 70px;
}

  &__item:nth-child(2) > &__svg {
  width: 59px;
  height: 59px;
  }

    &__item:last-child > &__svg {
      fill: none;
  width: 65px;
  height: 65px;
  }





}